:root{
    --primaryColor:  #948979;
    --secondaryColor : #DFD0B8 ;
    --lightColor : #ffffff;
    --bgColor-1 :  #153448;
    --bgColor-2 : #3C5B6F;
    --padding : 8%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #ffffff;
  }

h1{
    font-size: 4.65rem;
    margin: 1.7rem 0;
}
h2{
    font-size:2.2rem;
    letter-spacing: 0.12rem;
    cursor : pointer
}
h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
    word-spacing: 4px;
}
h4{
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
    color: var(--secondaryColor);
}
h5{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}
span{
    color: var(--primaryColor);
}
nav span {
    color: var(--lightColor);
}
p{
    color: var(--secondaryColor);
    letter-spacing: 1px;
    line-height: 2rem;
    font-size: 1rem;
}

nav{
    padding: 1.5rem var(--padding); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primaryColor); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 0 0 10px 10px; 
}
nav ul li {
    list-style: none;
    display:inline-block;
    margin : 0.8rem;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: var(--bgColor-1);
}
/* ----------------------------------------------------------------------------------------------------
-----------------------------------------------------Home----------------------------------------------
---------------------------------------------------------------------------------------------------- */
.home{
    width:100%;
    height:100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}
.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-texts{
    position:relative;
    bottom: 70px;
    text-align: center;
}
.home .container-texts h1{
    text-align: center;
}

.btn{
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.82rem 1.90rem;
    border-radius: 30px;
    transition: 0.4s;
    border: 2px solid transparent;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}
.social a{
    text-decoration: none;
}
.social{
    margin-top: 3.5rem;
    padding-left: 2rem;
}
.social img{
    margin-right: 2rem;
    width : 2.5rem;
    transition: 0.4s;
}
.social img:hover{
    transform: scale(1.2);
}

.home .container-images{
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}
.home .container-images img{
    position: absolute;
    bottom:0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    transition: 0.4s;
}
.shape{
    scale: 80%;
    height: auto;
    width: 80%;
}
.pic{
    scale: 0.9;
    top: 54px;
    padding: 0;
}
.container-images:hover .shape{
    bottom: 40px;
}

.container-images:hover .pic{
    left: 45%;
}
.name {
    white-space: nowrap;
}

/* ----------------------------------------------------------------------------------------------------
-----------------------------------------------------About----------------------------------------------
---------------------------------------------------------------------------------------------------- */
.about{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.about .container-images {
    width: 35%;
}
.about .container-images img{
    width: 90%;
    margin-left: 5%;
}
.about .container-texts{
    width: 35%;
}
.my-interests{
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}
.my-interests img{
    width: 60px;
    padding-bottom:20px ;
}
.my-interests h2{
    align-self: center;
    padding: 2rem;
    font-size: 4.5rem;
}
.box{
    display: flex;
    justify-content: space-around;
}
.card{
    width: 300px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 1.3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
/* ----------------------------------------------------------------------------------------------------
-----------------------------------------------------Skills----------------------------------------------
---------------------------------------------------------------------------------------------------- */
.skills .container-images {
    width: 35%;
}
.skills .container-images img{
    width: 90%;
}
.skills{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display:flex ;
    justify-content: space-between;
    align-items: center;
}
.skills .content-skills{
    width: 80%;
}
.content-skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.content-skills img{
    width: 100px;
    margin: 20px;
}
.skill .container-images{
    width : 60%
}
/* ----------------------------------------------------------------------------------------------------
-----------------------------------------------------Footer----------------------------------------------
---------------------------------------------------------------------------------------------------- */
footer{
    padding: 2rem var(--padding);
    background-color: var(--bgColor-1);
}
footer .content-footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
footer h2 {
    padding-bottom: 30px;
}
footer p {
    color: var(--lightColor);
    text-align: center;
    width: 500px;
}
/* ----------------------------------------------------------------------------------------------------
-----------------------------------------------------Humberger Menu----------------------------------------------
---------------------------------------------------------------------------------------------------- */
#menu{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
    
}
#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom:5px
}


#menu.is-active span:nth-child(1){
    transform: translate(0px,-2px) rotate(45deg);
}
#menu.is-active span:nth-child(2){
    opacity: 0;
    transform: translate(15px);
}
#menu.is-active span:nth-child(3){
    transform: translate(-3px,3px) rotate(-45deg);
}
#menu.is-active span{
    background-color: var(--primaryColor);
}

/* ----------------------------------------------------------------------------------------------------
-----------------------------------------------------Media queries----------------------------------------------
---------------------------------------------------------------------------------------------------- */

@media screen and (max-width:575px) {
    :root{
        --padding:1.5rem ;
    }
    html{
        font-size: 15px;
    }
    .home .container-images {
        display: none;
        width: 100%;
    } 
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top:  10px ;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--lightColor);
        z-index: 100;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height:100vh;
        background: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
    nav ul li{
        font-size: 150%;
        display:block;
        text-align: center;
        margin: 30px;
    }
    .container-texts{
        bottom: 0em;
    }
    .social{
        margin-top: 70px;
    }
    h3{
        margin-bottom: 70px;
    }
    #menu{
        display: block;
    }
    .about{
        flex-direction: column;
    }
    .about .container-images {
        width: 100%;
    }
    .about .container-texts{
        width: 100%;
    }
    .box{
        flex-direction: column;
        align-items: center;
    }
    .text-center{
        width: 100%;
        text-align: center;
    }
    .skills .container-images{
        display: none;
    }
    .skills .content-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center ;
        flex-direction: column;
        justify-content: center;
    }
    footer p,footer h2{
        width: 100%;
        text-align: center;
    }
    .content{
        align-self: center;
    }
}
@media screen and (min-width:576px) and (max-width : 767px) {
    :root{
        --padding:1.5rem ;
    }
    html{
        font-size: 15px;
    }
    .home .container-images {
        display: none;
        width: 100%;
    } 
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top:  10px ;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--lightColor);
        z-index: 100;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height:100vh;
        background: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
    nav ul li{
        font-size: 150%;
        display:block;
        text-align: center;
        margin: 30px;
    }
    .container-texts{
        bottom: 0em;
    }
    .social{
        margin-top: 30px;
    }
    h3{
        margin-bottom: 30px;
    }
    
    .content{
        padding-top: 52px;
        scale: 70%;
    }
    #menu{
        display: block;
    }
    .about{
        flex-direction: column;
    }
    .about .container-images {
        width: 100%;
    }
    .about .container-texts{
        width: 100%;
    }
    .box{
        flex-direction: column;
        align-items: center;
    }
    .text-center{
        width: 100%;
        text-align: center;
    }
    .skills .container-images{
        display: none;
    }
    .skills .content-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center ;
        flex-direction: column;
        justify-content: center;
    }
    footer p,footer h2{
        width: 100%;
        text-align: center;
    }
    .content{
        align-self: center;
    }
    
}
@media screen and (min-width:768px) and (max-width : 991px) {
    :root{
        --padding:1.5rem ;
    }
    html{
        font-size: 15px;
    }
    .home .container-images {
        display: none;
        width: 100%;
    } 
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top:  10px ;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--lightColor);
        z-index: 100;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height:100vh;
        background: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
    nav ul li{
        font-size: 150%;
        display:block;
        text-align: center;
        margin: 30px;
    }
    .container-texts{
        bottom: 0em;
    }
    .content {
        width: auto;
        scale: 80%;
        margin-top: 50px
    }
    .content h3{
        margin-bottom: 40px;
    }
    .social{
        padding-top: 40px;
    }
    .social{
        margin-top: 20px;
    }
    #name{
        margin-bottom: 3px;
        margin-top: 0px;
    }
    h3{
        margin-bottom: 20px;
    }
    #menu{
        display: block;
    }
    .about{
        flex-direction: column;
    }
    .about .container-images {
        width: 30%;
    }
    .about .container-texts{
        width: 100%;
    }
    .box{
        flex-direction: column;
        align-items: center;
    }
    .text-center{
        width: 100%;
        text-align: center;
    }
    .skills .container-images{
        display: none;
    }
    .skills .content-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center ;
        flex-direction: column;
        justify-content: center;
    }
    footer p,footer h2{
        width: 100%;
        text-align: center;
    }
    .content{
        align-self: center;
    }
    
}
@media screen and (min-width:992px) and (max-width : 1279px) {
    :root{
        --padding:1.5rem ;
    }
    html{
        font-size: 15px;
    }
    .home .container-images img{
        display: none
    }
    .home .content{
        justify-content: center;
        align-items:center ;
    }
    .home .container-texts{
        position: relative;
        scale: 150%;
        left: 120px;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top:  10px ;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--lightColor);
        z-index: 100;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height:100vh;
        background: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
    nav ul li{
        font-size: 150%;
        display:block;
        text-align: center;
        margin: 30px;
    }
    .container-texts{
        bottom: 0em;
    }
    .social{
        margin-top: 70px;
    }
    h3{
        margin-bottom: 70px;
    }
    #menu{
        display: block;
    }
    .about{
        flex-direction: column;
    }
    .about .container-images {
        width: 100%;
    }
    .about .container-texts{
        width: 100%;
    }
    .box{
        flex-direction: column;
        align-items: center;
    }
    .text-center{
        width: 100%;
        text-align: center;
    }
    .skills .container-images{
        display: none;
    }
    .skills .content-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center ;
        flex-direction: column;
        justify-content: center;
    }
    footer p,footer h2{
        width: 100%;
        text-align: center;
    }
    .content{
        align-self: center;
    }
    
}
@media screen and (min-width:1280px) and (max-width : 1367px) {
    :root{
        --padding:1.5rem ;
    }
    html{
        font-size: 15px;
    }
    .home .container-images{
        scale: 90%;
        width: 60%;
    }
    .home .content{
        justify-content: center;
        align-items:center ;
    }
    .home .container-texts{
        scale: 120%;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top:  10px ;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--lightColor);
        z-index: 100;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50vw;
        height:100vh;
        background: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
    nav ul li{
        font-size: 150%;
        display:block;
        text-align: center;
        margin: 30px;
    }
    .container-texts{
        bottom: 0em;
    }
    .social{
        margin-top: 70px;
    }
    h3{
        margin-bottom: 70px;
    }
    #menu{
        display: block;
    }
    .about{
        flex-direction: column;
    }
    .about .container-images {
        width: 40%;
    }
    .about .container-texts{
        width: 100%;
    }
    .box{
        flex-direction: column;
        align-items: center;
    }
    .text-center{
        width: 100%;
        text-align: center;
    }
    .skills .container-images{
        display: none;
    }
    .skills .content-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center ;
        flex-direction: column;
        justify-content: center;
    }
    footer p,footer h2{
        width: 100%;
        text-align: center;
    }
    
}
